<!DOCTYPE html>
<html>
<head>
	<title>Main page</title>

  <!-- Theme CSS -->
  <link href="../static/stylesheets/index.css" rel="stylesheet">
</head>
<body>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
var svg = d3.select("body")
						.append("svg")
						.attr("width", 600)
						.attr("height", 400);
</script>

<div id="circle">
</div>

<h1>Hello</h1>

<form action="check_number/" method="post">
<select name="number">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
<input type="submit" value="Submit">
</form>

</body>
</html>
