<!DOCTYPE html>
<html>
<head>
	<title>Main page</title>

  <!-- Theme CSS -->
  <link href="../static/stylesheets/index.css" rel="stylesheet">
</head>
<body>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>

var data = {{ data|safe }}
// https://www.google.com/search?client=safari&rls=en&q=how+to+cast+a+python+string+quotes+as+quotes+to+pass+them+to+javascript+flask&ie=UTF-8&oe=UTF-8
console.log(data);

var div = d3.select("body")
		.append("div")
    .attr("class", "tooltip")
		.style("opacity", 0);

var svg = d3.select("body").append("svg")
		.attr("width", {{width}})
		.attr("height", {{height}});

{% if data %}
var neurons = svg.selectAll(".neuron")
		.data(data)
		.enter()
		.append("circle")
		.attr("class", "neuron")
		.attr("cx", function(d) { return d.x; })
		.attr("cy", function(d) { return d.y; })
		.on("mouseover", function(d) {
        div.style("left", d.x + 20 + "px")
					 .style("top", d.y - 30 + "px")
					 .text(d.y)
					 .transition()
           .duration(200)
					 .style("opacity", .9)
					})
		.on("mouseout", function(d) {
        div.style("left", d.x + 20 + "px")
					 .style("top", d.y - 30 + "px")
				   .text(d.y)
					 .transition()
           .duration(500)
           .style("opacity", 0);
					 });
{% endif %}

$(function(){
    var $select = $(".num_input_neurons");
    for (i=1;i<=5;i++){
        $select.append($("<option></option>").val(i).html(i))
    }
});

$(function(){
    var $select = $(".num_hidden_neurons");
    for (i=1;i<=10;i++){
        $select.append($("<option></option>").val(i).html(i))
    }
});

</script>

<form action="/visualize_neurons/" method="post">
<select name="input_neurons" class="num_input_neurons">
</select>
<input value="How many input neurons?">

<select name="hidden_neurons" class="num_hidden_neurons">
</select>
<input  value="How many hidden neurons?">

<button type="submit">
	Click Me!
</button>
</form>

</body>
</html>
