<!DOCTYPE html>
<html>
<head>
	<title>Main page</title>

  <!-- Theme CSS -->
  <link href="../static/stylesheets/index.css" rel="stylesheet">
</head>
<body>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>

var height = 480;
var width = 600;

var div = d3.select("body")
		.append("div")
    .attr("class", "tooltip")
		.style("opacity", 0);

var svg = d3.select("body").append("svg")
		.attr("width", width)
		.attr("height", height);

$(function(){
    var $select = $(".num_input_neurons");
    for (i=1;i<=5;i++){
        $select.append($("<option></option>").val(i).html(i))
    }
});

$(function(){
    var $select = $(".num_hidden_neurons");
    for (i=1;i<=10;i++){
        $select.append($("<option></option>").val(i).html(i))
    }
});

$(function(){
    var $select = $(".num_hidden_neurons");
    for (i=1;i<=10;i++){
        $select.append($("<option></option>").val(i).html(i))
    }
});

</script>

<form action="{{ url_for('visualize_data')}}" method="post">
<select name="input_neurons" class="num_input_neurons">
</select>
<input value="How many input neurons?">

<select name="hidden_neurons" class="num_hidden_neurons">
</select>
<input  value="How many hidden neurons?">

<button type="submit">
	Start a net.
</button>
</form>


</body>
</html>
