<!DOCTYPE html>
<html>
<head>
	<title>Main page</title>

  <!-- Theme CSS -->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/index.css') }}">
</head>
<body>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>

var data = {{ data|safe }};
var weights = {{ weights|safe }};

function lookupNeuron(layer, neuron) {
		data_layer = data[layer]
		for (var i = 0; i < data_layer.length; i++) {
			el = data_layer[i];
		  if (el["layer"] == layer && el["neuron"] == neuron) {
		    	return {"x": el["x"], "y": el["y"]};
				};
			};
};


// https://www.google.com/search?client=safari&rls=en&q=how+to+cast+a+python+string+quotes+as+quotes+to+pass+them+to+javascript+flask&ie=UTF-8&oe=UTF-8
// console.log(data);

var height = 480;
var width = 600;

var div = d3.select("body")
		.append("div")
    .attr("class", "tooltip")
		.style("opacity", 0);

var svg = d3.select("body").append("svg")
		.attr("width", width)
		.attr("height", height);

{% if data %}
function enterNeurons(neuron_index) {
	var neurons = svg.selectAll(".neuron_".concat(neuron_index))
			.data(data[neuron_index])
			.enter()
			.append("circle")
			.attr("class", "neuron_".concat(neuron_index))
			.attr("cx", function(d) { return d.x; })
			.attr("cy", function(d) { return d.y; })
	    .attr("r", function(d) { return d.value; });
			// .on("mouseover", function(d) {
	    //     div.style("left", d.x + 20 + "px")
			// 			 .style("top", d.y - 30 + "px")
			// 			 .text(d.y)
			// 			 .transition()
	    //        .duration(200)
			// 			 .style("opacity", .9)
			// 			})
			// .on("mouseout", function(d) {
	    //     div.style("left", d.x + 20 + "px")
			// 			 .style("top", d.y - 30 + "px")
			// 		   .text(d.y)
			// 			 .transition()
	    //        .duration(500)
	    //        .style("opacity", 0);
			// 			 });
}

for (var i = 0; i < data.length; i++) {
	enterNeurons(i)
}

{% endif %}
{% if weights %}

function placeWeights(weight_index) {
	var weights_single = svg.selectAll(".weight_".concat(weight_index))
							.data(weights[weight_index])
							.enter()
							.append("line")
							.attr("class", "weight_".concat(weight_index))
							.style("stroke", "black")
							.attr("x1", function(d) {
								return lookupNeuron(weight_index, d["coordinates"][0])["x"];
							})
							.attr("x2", function(d) {
								return lookupNeuron(weight_index+1, d["coordinates"][1])["x"];
							})
							.attr("y1", function(d) {
								return lookupNeuron(weight_index, d["coordinates"][0])["y"];
							})
							.attr("y2", function(d) {
								return lookupNeuron(weight_index+1, d["coordinates"][1])["y"];
							})
							.attr("stroke-width", function(d) {
								return d['value'];
							});
}

for (var i = 0; i < weights.length; i++) {
	placeWeights(i)
}

{% endif %}

function updateNeurons(data_new) {

	function updateSingleNeuronLayer(index) {
		var weights_temp = svg.selectAll(".neuron_".concat(index))
								.data(data_new[index])
								.transition()
								.duration(1000)
								.attr("r", function(d) { return d['value']; });
							}

	for (var i = 0; i < data_new.length; i++) {
		updateSingleNeuronLayer(i)
	}
};

function updateWeights(data_new) {

	function updateSingleWeightLayer(index) {
		var weights_temp = svg.selectAll(".weight_".concat(index))
								.data(data_new[index])
								.transition()
								.duration(1000)
								.attr("stroke-width", function(d) {
									return d['value'];
								});
							}

	for (var i = 0; i < data_new.length; i++) {
		updateSingleWeightLayer(i)
	}
};

function updateOneLayerNeuron() {
      $.ajax({
        url: {{ url_for('update_next_neurons')}},
        data: data,
        type: 'POST',
        success: function(response) {
          updateNeurons(response['data']);
        },
        error: function(error) {
          console.log(error);
        }
    })
  };

function updateOneLayerWeights() {
      $.ajax({
        url: {{ url_for('update_next_weights')}},
        data: data,
        type: 'POST',
        success: function(response) {
          updateWeights(response['data']);
        },
        error: function(error) {
          console.log(error);
        }
    });
  };

function singleFullPass() {
	console.log("Entering single full pass")
	for (var i = 0; i < data.length - 1; i++) {
		updateOneLayerWeights();
	}

	for (var i = 0; i < data.length; i++) {
		updateOneLayerNeuron();
	}

}
</script>

<form action="{{ url_for('reset_data')}}" method="post">
<button id="resetData">
	Reset the data.
</button>
</form>


<button id="weightUpdate" onclick="updateOneLayerWeights();">
	Update next weights.
</button>

<button id="neuronUpdate" onclick="updateOneLayerNeuron();">
	Update next neurons.
</button>

</body>
</html>
