<!DOCTYPE html>
<html>
<head>
	<title>Main page</title>

  <!-- Theme CSS -->
  <link href="../static/stylesheets/index.css" rel="stylesheet">
</head>
<body>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>

var data = {{ data|safe }};
var weights = {{ weights|safe }};

function lookupNeuron(layer, neuron) {
	for (var el in data) {
		// debugger;
	  if (data[el]["layer"] == layer && data[el]["neuron"] == neuron) {
	    	return {"x": data[el]["x"], "y": data[el]["y"]};
			};
	};
};


// https://www.google.com/search?client=safari&rls=en&q=how+to+cast+a+python+string+quotes+as+quotes+to+pass+them+to+javascript+flask&ie=UTF-8&oe=UTF-8
// console.log(data);

var height = 480;
var width = 600;

var div = d3.select("body")
		.append("div")
    .attr("class", "tooltip")
		.style("opacity", 0);

var svg = d3.select("body").append("svg")
		.attr("width", width)
		.attr("height", height);

{% if data %}
var neurons = svg.selectAll(".neuron")
		.data(data)
		.enter()
		.append("circle")
		.attr("class", "neuron")
		.attr("cx", function(d) { return d.x; })
		.attr("cy", function(d) { return d.y; })
		.on("mouseover", function(d) {
        div.style("left", d.x + 20 + "px")
					 .style("top", d.y - 30 + "px")
					 .text(d.y)
					 .transition()
           .duration(200)
					 .style("opacity", .9)
					})
		.on("mouseout", function(d) {
        div.style("left", d.x + 20 + "px")
					 .style("top", d.y - 30 + "px")
				   .text(d.y)
					 .transition()
           .duration(500)
           .style("opacity", 0);
					 });
{% endif %}
{% if weights %}
var weights_1 = svg.selectAll(".weight_1")
						.data(weights['input_to_hidden'])
						.enter()
						.append("line")
						.attr("class", "weight_1")
						.style("stroke", "black")
						.attr("x1", function(d) {
							return lookupNeuron(0, d["coordinates"][0])["x"];
						})
						.attr("x2", function(d) {
							return lookupNeuron(1, d["coordinates"][1])["x"];
						})
						.attr("y1", function(d) {
							return lookupNeuron(0, d["coordinates"][0])["y"];
						})
						.attr("y2", function(d) {
							return lookupNeuron(1, d["coordinates"][1])["y"];
						});

var weights_2 = svg.selectAll(".weight_2")
						.data(weights['hidden_to_output'])
						.enter()
						.append("line")
						.attr("class", "weight_2")
						.style("stroke", "black")
						.attr("x1", function(d) {
							return lookupNeuron(1, d["coordinates"][0])["x"];
						})
						.attr("x2", function(d) {
							return lookupNeuron(2, d["coordinates"][1])["x"];
						})
						.attr("y1", function(d) {
							return lookupNeuron(1, d["coordinates"][0])["y"];
						})
						.attr("y2", function(d) {
							return lookupNeuron(2, d["coordinates"][1])["y"];
						});
{% endif %}

</script>

<form action="{{ url_for('reset_data')}}" method="post">
<button id="resetData">
	Reset the data.
</button>
</form>


</body>
</html>
